/* Base Styling */

body {
	font-family: 'Roboto', sans-serif;
	background-image: url('../images/one-bg3-normal.jpg');
	position: absolute;
	padding: 6px;
}

h3#step {
	font-family: 'Francois One', sans-serif;
	display: inline;
	position: relative;
	top: -7px;
}



/* Styles for screen size less than 768px */

@media (min-height: 663px) {
	body {
		background-image: url('../images/one-bg3.jpg');
	}
}
