@media (max-width: 767px) {

	video#video_bg1 {
	}

	.slideText h2 {
		font-size: 28px;
	}

	.intro-statement h2 {
		font-size: 20px;
	}

	.brand {
		width: calc(50% - 0px);
	}

	.main_menu {
		font-size: 35px;
	}

}

@media (max-width: 500px) {

	.brand {
		width: calc(100% - 0px);
	}

}
