/* Base Styling */

*{
	box-sizing: border-box;
}

body#index {
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color: white;
	overflow-x: hidden;
}

body.mainpage {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

#wrapper {
	height: 100%;
	width: 100%;
}

#frame {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#gallery_text {
	text-align: center;
	padding-left: 18px;
	padding-right: 18px;
}

div.slideText {
	text-align: center;
}

.slideText h2 {
	font-size: 40px;
}

/* Enter button */

div#enter {
	text-align: center;
	letter-spacing: 1px;
	border: 1px solid white;
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 160px;
	margin: auto;
	margin-top: 50px;
}

#enter h4 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: unset;
}


h3#step {
	font-family: 'Francois One', sans-serif;
	display: inline;
	position: relative;
	top: -9px;
	font-size: 25px;
}

/* Style for the video background */


video#video_bg1 {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}

video#video_bg2 {
	width: 100%;
	height: 100%;
}

/* Ends */

.top_container {
	overflow: hidden;
	height: 300px;
	background-color: black;
}

/* Slide Images */

img.slide_img {
	width: 100%;
	height: 300px;
}

/* Slideshow container */

.slideshow_container {
	position: relative;
	margin: auto;
}

/* Intro Statement on mainpage */

.intro-statement {
	text-align: center;
	letter-spacing: 2px;
	font-family: cursive;
	background-color: black;
	color: white;
	padding: 50px;
}

.my_slides {
	display: none;
}

/* Moving animation */

.move {	
	position: relative;
  	-webkit-animation: mymove 4s infinite;
  	-webkit-animation-delay: 2s;
  	animation: mymove 4s infinite;
  	animation-delay: 2s;
}

@-webkit-keyframes mymove {
  	from {left: 0%;}
  	to {left: 100%;}
}

@keyframes mymove {
  	from {left: 0%;} 
  	to {left: 100%;}
}

#services_main {
	background-color: white;
	width: 100%;
}

.services-items {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

#services_main h2 {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	letter-spacing: 1px;
	font-size: 30px;
}

.brand {
	padding: 5% 20px;
	width: calc(25% - 0px);
	align-items: center;
	text-align: center;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
}

p.branding {
	font-size: 25px;
	margin-top: 7px;
	margin-bottom: 15px;
}



